body{
    margin: 0;
    padding: 0;
    font-family: poppins;
    background-image: url("img/bg.png");
    background-size: 350px;
    background-position: center;
}
*{
    box-sizing: border-box;
}
img{
    height: 300px;
}
.page-not-found{
    position: absolute;
    left: 25%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: #3b3a39;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 50px 0 0 0;
}
p{
    color: #808080;
    font-size: 1rem;
    width: 60%;
    text-align: center;
    margin: 5px;
    font-weight: 300;
}
p a{
    color: #637eff;
    font-weight: 600;
    text-decoration: none;
}
@media(max-width:900px){
    .page-not-found{
        position: absolute;
        left: 8%;
        top: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .page-not-found img{
        height: 220px;
    }
    .page-not-found p{
        width: 70%;
    }
}
@media(max-width:600px){
    .page-not-found{
        position: absolute;
        left: 1%;
        top: 30%;
    }
    .page-not-found img{
        height: 120px;
    }
    .page-not-found h1{
        font-size: 1.4rem;
    }
    .page-not-found p{
        width: 95%;
    }
}